.app-content #listData{
    margin: 10px 20px;
	height:calc(100vh - 20px);
	background: #fff;
}

.app-content #listData tr td:first-child{
	/*table内のチェックボックスはセンタリング*/
    text-align: center;
}

/*ipad対応*/
.app-content.ipad #listData{
	height:78.5%;
}
.app-content.ipad .resultStats {
    margin-top: 0px;
}
.modals{
	display: none;
}
.has-modal .app, .has-modal-overlay .app, .has-modal .sidebar, .has-modal-overlay .sidebar {
    pointer-events: all
}

/*****************************/
/*チェックボックス設定       */
/*****************************/
/*上部のチェックボックス一覧*/
.app-content .checklist label{
	font-weight:normal;
}
.app-content .checklist{
	font-size:16px;
}
/*****************************/
/*ボタン                     */
/*****************************/
/*チェックアイコン付きボタン*/
.app-content .wrap_btn .btn.check{
	position:relative;
}
.app-content .btnOutlinePrimary.btn.large{
	min-width: 8em;
	width:auto;
}

/*smallボタン*/
.app-content .btn.small {
	font-size: 16px;
	height: 46px;
	min-width: 6em;
}

#listData{
   
}

#listData thead #thTotalJudge {
    width: 40px;
}

#listData thead #thStructureClass {
    width: 70px;
}

#listData thead #thStationInterval {
    width: 150px;
}

#thNo{
    width: 100px;
}